body {
    background-color: rgb(72, 72, 72);
}

.header-title {
    color: aliceblue;
}

a {
    font-family: sans-serif;
    text-decoration: none;
}

.hamburger {
    display: block;
    height: 80px;
    margin-left: auto;
    position: relative;
    z-index: 10;
    width: 80px;
    border: none;
    background-color: transparent;
}

.hamburger.-active .hamburger__line {
    background-color: transparent;
}

.hamburger.-active .hamburger__line::before {
    top: 0;
    transform: rotate(45deg);
}

.hamburger.-active .hamburger__line::after {
    top: 0;
    transform: rotate(-45deg);
}

.hamburger.-active .hamburger__text::before {
    content: '閉じる';
}

.hamburger__line {
    display: block;
    height: 10px;
    position: absolute;
    top: 30x;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    background-color: #e8e8e8;
    transition: 0.4s;
}

.hamburger__line:before,
.hamburger__line:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #343434;
    transition: inherit;
}

.hamburger__line:before {
    top: -6px;
}

.hamburger__line:after {
    top: 6px;
}

.hamburger__text {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.hamburger__text::before {
    content: "メニュー";
    text-align: center;
    color: #172e59;
    font-size: 10px;
    font-weight: 900;
}

.header {
    width: 300px;
}

.header__nav-area {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 9;
    height: 100vh;
    width: 300px;
    visibility: hidden;
    padding-top: 60px;
    background-color: #fff;
    transition: 0.4s;
}

.header__nav-area.-active {
    left: 0;
    visibility: visible;
}

.global-navigation {
    padding-top: 40px;
    padding-right: 25px;
    padding-bottom: 120px;
    padding-left: 25px;
}

.global-navigation__list>li {
    padding-bottom: 20px;
    border-bottom: 2px solid #e7e9ee;
}

.global-navigation__list>li+li {
    margin-top: 20px;
}

.global-navigation__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #dbdbdb;
    font-weight: 900;
    transition: color 0.4s;
    font-size: 0.875rem;
}

.global-navigation__link.-accordion {
    position: relative;
    background: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 0;
}

.global-navigation__link.-accordion::after {
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 2px;
    background-color: #ed3242;
    transform: translateY(-50%);
    transition: transform 0.4s;
}

.global-navigation__link.-accordion::before {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    background-color: #ed3242;
    transform: translateY(-50%);

}

.global-navigation__link.-active::after {
    transform: translateY(-50%) rotate(-90deg);
}

.accordion {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: 0.4s;
}

.accordion.-active {
    height: auto;
    padding-top: 30px;
    visibility: visible;
}

.accordion__list li {
    font-size: 0.75rem;
}

.accordion__list li+li {
    margin-top: 21px;
}

.accordion__link {
    color: #dadada;
}