* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(35, 35, 35);
}

header {
  margin: 0 auto;
  height: 70px;
  width: 100%;
  background-color: rgb(26, 26, 26);
}

a {
  color: rgb(0, 0, 231);
}

.header-icon {
  height: 70px;
  width: 70px;
  float: left;
}

.header-title {
  color: aliceblue;
  line-height: 70px;
  margin-left: 10px;
  float: left;
}

.header-list {
  list-style: none;
  float: left;
}

.header-list-item {
  font-size: large;
  line-height: 70px;
  margin-left: 50px;
}