<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>アイテム/Component/can_destroy_in_creative</title>
    <link rel="shortcut icon" href="../../../icon.png">
    <link rel="stylesheet" href="../../../style.css">
</head>

<body>

    <script src="../../../index.js"></script>

    <div id="header"></div>

    <div style="margin: 30px;">

        <h2>can_destroy_in_creative - クリエイティブでの破壊</h2>
        <div class="vertical-line"> <!--縦線-->
            <div class="description"> <!--要素をまとめて少し右へ-->

                <!--説明-->
                <p><span class="description-color">説明: </span>
                    クリエイティブ状態でこのアイテムを持ちながらブロックを壊せるか。trueで許可される。
                </p>

                <!--型-->
                <p><span class="type-color">型: </span>
                    boolean | object
                </p>

                <!--プロパティ一覧(折り畳み)-->
                <details>
                    <summary class="property-color">プロパティ</summary>
                    <div class="description"> <!--要素をまとめて少し右へ-->

                        <!--プロパティ-->
                        <h4>value</h4>
                        <div class="vertical-line"> <!--縦線-->
                            <div class="description"> <!--要素をまとめて少し右へ-->

                                <!--型-->
                                <p><span class="type-color">型: </span>
                                    boolean
                                </p>

                                <!--ここでプロパティをまた挟む場合、プロパティのまとまりをコピーしてここへ-->

                                <!--例-->
                                <p><span class="example-color">例: </span></p>

                                <!--コードブロック-->
                                <button
                                    onclick="copyButton('component/value-example', 'component/value-example-button-text')">
                                    <a id="component/value-example-button-text">Copy</a>
                                </button>
                                <pre><code id="component/value-example">"value": true</code></pre>

                            </div>
                        </div>

                    </div>
                </details>

                <!--例-->
                <p><span class="example-color">例: </span></p>

                <!--コードブロック-->
                <button onclick="copyButton('component-boolean-example', 'component-boolean-example-button-text')">
                    <a id="component-boolean-example-button-text">Copy</a>
                </button>
                <pre><code id="component-boolean-example">"minecraft:can_destroy_in_creative": false</code></pre>

                <!--コードブロック-->
                <button onclick="copyButton('component-object-example', 'component-object-example-button-text')"
                    style="margin-top: 10px;">
                    <a id="component-object-example-button-text">Copy</a>
                </button>
                <pre><code id="component-object-example">"minecraft:can_destroy_in_creative": {
    "value": false
}</code></pre>

            </div>
        </div>

    </div>

    <!--ヘッダー読み込み-->
    <script>
        fetch("../../../header.html")
            .then((response) => response.text())
            .then((data) => document.querySelector("#header").innerHTML = data);
    </script>

</body>

</html>