<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>アイテム/Component/bundle_interaction</title>
    <link rel="shortcut icon" href="../../../icon.png">
    <link rel="stylesheet" href="../../../style.css">
</head>

<body>

    <script src="../../../index.js"></script>

    <div id="header"></div>

    <div style="margin: 30px;">

        <h2>bundle_interaction - バンドルインタラクション</h2>
        <div class="vertical-line"> <!--縦線-->
            <div class="description"> <!--要素をまとめて少し右へ-->

                <!--説明-->
                <p><span class="description-color">説明: </span>
                    バンドルのようにインタラクトでアイテムを出せるようにする。storage_itemコンポーネントが必要。
                </p>

                <!--型-->
                <p><span class="type-color">型: </span>
                    object
                </p>

                <!--プロパティ一覧(折り畳み)-->
                <details>
                    <summary class="property-color">プロパティ</summary>
                    <div class="description"> <!--要素をまとめて少し右へ-->

                        <!--プロパティ-->
                        <h4>num_viewable_slots</h4>
                        <div class="vertical-line"> <!--縦線-->
                            <div class="description"> <!--要素をまとめて少し右へ-->

                                <!--説明-->
                                <p><span class="description-color">説明: </span>
                                    表示できるスロットの数。1～64まで指定できる。デフォルトでは12。
                                </p>

                                <!--型-->
                                <p><span class="type-color">型: </span>
                                    integer
                                </p>

                                <!--ここでプロパティをまた挟む場合、プロパティのまとまりをコピーしてここへ-->

                                <!--例-->
                                <p><span class="example-color">例: </span></p>

                                <!--コードブロック-->
                                <button
                                    onclick="copyButton('component/num_viewable_slots-example', 'component/num_viewable_slots-example-button-text')">
                                    <a id="component/num_viewable_slots-example-button-text">Copy</a>
                                </button>
                                <pre><code id="component/num_viewable_slots-example">"num_viewable_slots": 32</code></pre>

                            </div>
                        </div>

                    </div>
                </details>

                <!--例-->
                <p><span class="example-color">例: </span></p>

                <!--コードブロック-->
                <button onclick="copyButton('component-example', 'component-example-button-text')">
                    <a id="component-example-button-text">Copy</a>
                </button>
                <pre><code id="component-example">"minecraft:bundle_interaction": {
    "num_viewable_slots": 32
}</code></pre>

            </div>
        </div>

    </div>

    <!--ヘッダー読み込み-->
    <script>
        fetch("../../../header.html")
            .then((response) => response.text())
            .then((data) => document.querySelector("#header").innerHTML = data);
    </script>

</body>

</html>