<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>アイテム/Component/durability_sensor</title>
    <link rel="shortcut icon" href="../../../icon.png">
    <link rel="stylesheet" href="../../../style.css">
</head>

<body>

    <script src="../../../index.js"></script>

    <div id="header"></div>

    <div style="margin: 30px;">

        <h2>durability_sensor - 耐久センサー</h2>
        <div class="vertical-line"> <!--縦線-->
            <div class="description"> <!--要素をまとめて少し右へ-->

                <!--説明-->
                <p><span class="description-color">説明: </span>
                    アイテムの耐久値が減ったときに指定したパーティクルやサウンド等のエフェクトを発生させることができる。
                </p>

                <!--型-->
                <p><span class="type-color">型: </span>
                    object
                </p>

                <!--プロパティ説明-->
                <details>
                    <summary class="property-color">プロパティ</summary>
                    <div class="description"> <!--要素をまとめて少し右へ-->

                        <!--プロパティ-->
                        <h4>durability_thresholds [必須]</h4>
                        <div class="vertical-line"> <!--縦線-->
                            <div class="description"> <!--要素をまとめて少し右へ-->

                                <!--説明-->
                                <p><span class="description-color">説明: </span>
                                    発生させるエフェクト、条件のリスト。条件を通るオブジェクトが複数ある場合、durabilityの値が低いオブジェクトが優先される。
                                </p>

                                <!--型-->
                                <p><span class="type-color">型: </span>
                                    object[]
                                </p>

                                <!--プロパティ説明-->
                                <details>
                                    <summary class="property-color">アイテムプロパティ</summary>
                                    <div class="description"> <!--要素をまとめて少し右へ-->

                                        <!--プロパティ-->
                                        <h4>durability</h4>
                                        <div class="vertical-line"> <!--縦線-->
                                            <div class="description"> <!--要素をまとめて少し右へ-->

                                                <!--説明-->
                                                <p><span class="description-color">説明: </span>
                                                    アイテムの耐久値がこのプロパティで指定した値以下になれば、このエフェクトは発生する。
                                                </p>

                                                <!--型-->
                                                <p><span class="type-color">型: </span>
                                                    integer
                                                </p>

                                            </div>
                                        </div>

                                        <!--プロパティ-->
                                        <h4>particle_type</h4>
                                        <div class="vertical-line"> <!--縦線-->
                                            <div class="description"> <!--要素をまとめて少し右へ-->

                                                <!--説明-->
                                                <p><span class="description-color">説明: </span>
                                                    発生させるパーティクル名。
                                                </p>

                                                <!--型-->
                                                <p><span class="type-color">型: </span>
                                                    string
                                                </p>

                                            </div>
                                        </div>

                                        <!--プロパティ-->
                                        <h4>sound_event</h4>
                                        <div class="vertical-line"> <!--縦線-->
                                            <div class="description"> <!--要素をまとめて少し右へ-->

                                                <!--説明-->
                                                <p><span class="description-color">説明: </span>
                                                    再生するサウンド名。
                                                </p>

                                                <!--型-->
                                                <p><span class="type-color">型: </span>
                                                    string
                                                </p>

                                            </div>
                                        </div>

                                    </div>
                                </details>

                            </div>
                        </div>

                    </div>
                </details>

                <!--例-->
                <p><span class="example-color">例: </span></p>

                <!--コードブロック-->
                <button onclick="copyButton('component-example', 'component-example-button-text')">
                    <a id="component-example-button-text">Copy</a>
                </button>
                <pre><code id="component-example">"minecraft:durability_sensor": {
    "durability_thresholds": [
        {
            "durability": 1,
            "particle_type": "minecraft:huge_explosion_emitter"
            "sound_event": "random.explode"
        }
    ]
}</code></pre>

            </div>
        </div>

    </div>

    <!--ヘッダー読み込み-->
    <script>
        fetch("../../../header.html")
            .then((response) => response.text())
            .then((data) => document.querySelector("#header").innerHTML = data);
    </script>

</body>

</html>