<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>アイテム/Component/damage</title>
    <link rel="shortcut icon" href="../../../icon.png">
    <link rel="stylesheet" href="../../../style.css">
</head>

<body>

    <script src="../../../index.js"></script>

    <div id="header"></div>

    <div style="margin: 30px;">

        <h2>damage - 攻撃力</h2>
        <div class="vertical-line"> <!--縦線-->
            <div class="description"> <!--要素をまとめて少し右へ-->

                <!--説明-->
                <p><span class="description-color">説明: </span>
                    攻撃力をつけられる。
                </p>

                <!--型-->
                <p><span class="type-color">型: </span>
                    integer | object
                </p>

                <!--プロパティ一覧(折り畳み)-->
                <details>
                    <summary class="property-color">プロパティ</summary>
                    <div class="description"> <!--要素をまとめて少し右へ-->

                        <!--プロパティ-->
                        <h4>value</h4>
                        <div class="vertical-line"> <!--縦線-->
                            <div class="description"> <!--要素をまとめて少し右へ-->

                                <!--型-->
                                <p><span class="type-color">型: </span>
                                    integer
                                </p>

                            </div>
                        </div>

                    </div>
                </details>

                <!--例-->
                <p><span class="example-color">例: </span></p>

                <!--コードブロック-->
                <button onclick="copyButton('component-integer-example', 'component-integer-example-button-text')">
                    <a id="component-integer-example-button-text">Copy</a>
                </button>
                <pre><code id="component-integer-example">"minecraft:damage": 8</code></pre>

                <!--コードブロック-->
                <button onclick="copyButton('component-object-example', 'component-object-example-button-text')">
                    <a id="component-object-example-button-text">Copy</a>
                </button>
                <pre><code id="component-object-example">"minecraft:damage": {
    "value": 8
}</code></pre>

            </div>
        </div>

    </div>

    <!--ヘッダー読み込み-->
    <script>
        fetch("../../../header.html")
            .then((response) => response.text())
            .then((data) => document.querySelector("#header").innerHTML = data);
    </script>

</body>

</html>