<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>アイテム/Component/glint</title>
    <link rel="shortcut icon" href="../../../icon.png">
    <link rel="stylesheet" href="../../../style.css">
</head>

<body>

    <script src="../../../index.js"></script>

    <div id="header"></div>

    <div style="margin: 30px;">

        <h2>glint - 輝き</h2>
        <div class="vertical-line"> <!--縦線-->
            <div class="description"> <!--要素をまとめて少し右へ-->

                <!--説明-->
                <p><span class="description-color">説明: </span>
                    trueで、アイテムにエンチャントされたような輝きをつける。
                </p>

                <!--型-->
                <p><span class="type-color">型: </span>
                    boolean | object
                </p>

                <!--プロパティ説明-->
                <details>
                    <summary class="property-color">プロパティ</summary>
                    <div class="description"> <!--要素をまとめて少し右へ-->

                        <!--プロパティ-->
                        <h4>value</h4>
                        <div class="vertical-line"> <!--縦線-->
                            <div class="description"> <!--要素をまとめて少し右へ-->

                                <!--型-->
                                <p><span class="type-color">型: </span>
                                    boolean
                                </p>

                            </div>
                        </div>

                    </div>
                </details>

                <!--例-->
                <p><span class="example-color">例: </span></p>

                <!--コードブロック-->
                <button onclick="copyButton('example-code', 'example-code-button-text')">
                    <a id="example-code-button-text">Copy</a>
                </button>
                <pre><code id="example-code">"minecraft:glint": true</code></pre>

                <!--コードブロック-->
                <button onclick="copyButton('example-code-object', 'example-code-button-text-object')">
                    <a id="example-code-button-text-object">Copy</a>
                </button>
                <pre><code id="example-code-object">"minecraft:glint": {
    "value": true
}</code></pre>

            </div>
        </div>

    </div>

    <!--ヘッダー読み込み-->
    <script>
        fetch("../../../header.html")
            .then((response) => response.text())
            .then((data) => document.querySelector("#header").innerHTML = data);
    </script>

</body>

</html>