<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>アイテム/Component/enchantable</title>
    <link rel="shortcut icon" href="../../../icon.png">
    <link rel="stylesheet" href="../../../style.css">
</head>

<body>

    <script src="../../../index.js"></script>

    <div id="header"></div>

    <div style="margin: 30px;">

        <h2>enchantable - エンチャント</h2>
        <div class="vertical-line"> <!--縦線-->
            <div class="description"> <!--要素をまとめて少し右へ-->

                <!--説明-->
                <p><span class="description-color">説明: </span>
                    アイテムに適用可能なエンチャントを設定する。
                </p>

                <!--型-->
                <p><span class="type-color">型: </span>
                    object
                </p>

                <!--プロパティ説明-->
                <details>
                    <summary class="property-color">プロパティ</summary>
                    <div class="description"> <!--要素をまとめて少し右へ-->

                        <!--プロパティ-->
                        <h4>slot [必須]</h4>
                        <div class="vertical-line"> <!--縦線-->
                            <div class="description"> <!--要素をまとめて少し右へ-->

                                <!--説明-->
                                <p><span class="description-color">説明: </span>
                                    適用できるエンチャントの種類。例えばbowを入れると、アイテムは弓のようにエンチャントができる。
                                </p>

                                <!--型-->
                                <p><span class="type-color">型: </span>
                                    string
                                </p>

                            </div>
                        </div>

                        <!--プロパティ-->
                        <h4>value [必須]</h4>
                        <div class="vertical-line"> <!--縦線-->
                            <div class="description"> <!--要素をまとめて少し右へ-->

                                <!--説明-->
                                <p><span class="description-color">説明: </span>
                                    良いエンチャントがつく確率。
                                </p>

                                <!--型-->
                                <p><span class="type-color">型: </span>
                                    integer
                                </p>

                            </div>
                        </div>

                    </div>
                </details>

                <!--例-->
                <p><span class="example-color">例: </span></p>

                <!--コードブロック-->
                <button onclick="copyButton('example-code', 'example-code-button-text')">
                    <a id="example-code-button-text">Copy</a>
                </button>
                <pre><code id="example-code">"minecraft:enchantable": {
    "slot": "sword",
    "value": 100
}</code></pre>

            </div>
        </div>

    </div>

    <!--ヘッダー読み込み-->
    <script>
        fetch("../../../header.html")
            .then((response) => response.text())
            .then((data) => document.querySelector("#header").innerHTML = data);
    </script>

</body>

</html>